<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>IGP - Indonesia Portal Game</title>
		<link rel="stylesheet" href="style.css">
		<link rel="icon" href="images/logo.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		
		<!-- For Fixed Menu Navigation -->
		<div id="fix-nav">
			<div class="menu">
				<div class="icon">
					<img src="images/fixed-nav.png" alt="Menu navigation">
				</div>

				<div class="text-hover">
					<span>Menu Navigation</span>
				</div>
			</div>
		</div>

		<div id="sidenav">
			<a href="javascript:void(0)" class="closebtn">&times;</a>
			<a href="#">Home</a>
			<a href="#">About</a>
			<a href="#">Contact</a>
			<a href="#">Login</a>
			<a href="#">Register</a>
		</div>

		<!-- For Banner Website -->
		<div id="banner">

			<!-- For Logo Website -->
			<div id="logo">
				<img src="images/logo.png" alt="Logo IGP">
			</div>

			<!-- For Slider Game -->
			<div id="l-arrow" onclick="prevSlider()">
				<img src="images/l-arrow.png" alt="Left Arrow">
			</div>
			<div class="container-banner">
				<div id="sm-banner">
					<div id="si-banner">
						<div class="sc-banner">
							<div class="l-sc col-lg-2 col-md-1">
								<h1>Endless Runner</h1>
								<p>Endless Runner games have become quite popular because of their simplicity and challenge</p>
								<a href="#" class="button buttonHover">Play Game</a>
							</div>
							<div class="r-sc col-lg-2 col-md-1">
								<div class="img-game">
									<img src="images/endless.jpg" alt="Endless Game">
								</div>
							</div>
						</div>

						<div class="sc-banner">
							<div class="l-sc col-lg-2 col-md-1">
								<h1>Tetris</h1>
								<p>Tetris is a game that looks simple but when playing will continue to make our minds think.e</p>
								<a href="#" class="button buttonHover">Play Game</a>
							</div>
							<div class="r-sc col-lg-2 col-md-1">
								<div class="img-game">
									<img src="images/tetris.jpg" alt="Tetris Game">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="clear"></div>

				<div id="search">
					<p>Or want to find another game</p>
					<form action="#">
						<input class="input" placeholder="Type to find another game">
						<button type="button" class="button"><span>Search</span> <img src="images/search.png" alt="Search"></button>
					</form>
				</div>
			</div>
			<div id="r-arrow" onclick="nextSlider()">
				<img src="images/r-arrow.png" alt="Right Arrow">
			</div>
		</div>

		<!-- For Thumbnail Website -->
		<div id="thumbnail">
			<div class="container">
				<div class="title-section">
					<h3>Check out our collection of games</h3>
					<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean stellus a odio mas</p>
				</div>

				<div class="content-thumbnail">
					<div class="photo-thumb">
						<div class="item-thumb col-lg-3 col-md-1">
							<img src="images/tetris.jpg" alt="Tetris Game">
						</div>
						<div class="item-thumb col-lg-3 col-md-1">
							<img src="images/endless.jpg" alt="Endless Run">
						</div>
						<div class="item-thumb col-lg-3 col-md-1">
							<img src="images/tetris.jpg" alt="Tetris Game">
						</div>
					</div>
					<div class="video-thumb">
						<video controls>
						  <source src="videos/video.mp4" type="video/mp4">
						  Your browser does not support the video tag.
						</video>

						<video controls>
						  <source src="videos/video.mp4" type="video/mp4">
						  Your browser does not support the video tag.
						</video>
					</div>
				</div>
			</div>
		</div>

		<!-- For Line -->
		<div class="container">
			<div class="line"><hr></div>
		</div>

		<!-- For About Website -->
		<div id="about">
			<div class="container">
				<div class="title-section">
					<h3>Who we are?</h3>
					<p>This is PhotoshoMorbi accumsan ipsum velit. Nam nec tellus a odio tincidun eu i nos  impat a.</p>
				</div>

				<div class="content-about">
					<div class="c-a img-about">
						<img src="images/about-img.jpg" alt="About Image">
					</div>
					<div class="c-a text-about">
						<h2>Indonesia Portal Game</h2>
						<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi ae elipharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.</p>
						<a class="button buttonHover" href="#">READ MORE</a>
					</div>
				</div>
			</div>
		</div>

		<div class="clear"></div>

		<!-- For Line Website -->
		<div class="container">
			<div class="line"><hr></div>
		</div>

		<!-- For Follow us -->
		<div id="follow">
			<div class="container">
				<div class="title-section">
					<h3>Follow us</h3>
					<p>This is Photoshop's vociosqu ad uam massa nisl quis neque. Suspendisse in orci enim.</p>
				</div>

				<div class="content-social">
					<div class="col-lg-4 c-s col-md-2 col-sm-1">
						<img src="images/twitter.png" alt="Twitter"><br>
						<div class="tab-social twitter">
							<span>7.332 Followers</span>
						</div>
					</div>
					<div class="col-lg-4 c-s col-md-2 col-sm-1">
						<img src="images/instagram.png" alt="Instagram"><br>
						<div class="tab-social instagram">
							<span>2.334 Followers</span>
						</div>
					</div>
					<div class="col-lg-4 c-s col-md-2 col-sm-1">
						<img src="images/fb.png" alt="Facebook"><br>
						<div class="tab-social fb">
							<span>9.678 Likes</span>
						</div>
					</div>
					<div class="col-lg-4 c-s col-md-2 col-sm-1">
						<img src="images/google.png" alt="Google+"><br>
						<div class="tab-social google">
							<span>5.334 Followers</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clear"></div>

		<!-- For Footer Website -->
		<footer>
			<div class="container">
				<div class="top-footer">
					<div class="col-lg-5 menu-fot col-md-3 col-sm-1">
						<p>About</p>

						<ul>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Address</a></li>
							<li><a href="#">What's New</a></li>
						</ul>
					</div>

					<div class="col-lg-5 menu-fot col-md-3 col-sm-1">
						<p>Help</p>

						<ul>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Address</a></li>
							<li><a href="#">What's New</a></li>
						</ul>
					</div>

					<div class="col-lg-5 menu-fot col-md-3 col-sm-1">
						<p>More</p>

						<ul>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Address</a></li>
							<li><a href="#">What's New</a></li>
						</ul>
					</div>

					<div class="col-lg-3 menu-fot col-md-1">
						<p>Subscribe for newsletter</p>

						<form action="#">
							<input type="text" name="subscribe" class="inp-sub" placeholder="Enter your email">
							<button class="button"><span>Subscribe</span></button>
						</form>
					</div>
				</div>

				<div class="clear"></div>

				<div class="line"><hr></div>

				<div class="bot-footer">
					<p>&copy; 2017 - Indonesia Game Portal. All Right Reserved</p>
					<p>Design by : Bima Pangestu</p>
				</div>
			</div>
		</footer>

		<script src="jquery-3.2.1.min.js" type="text/javascript"></script>
		<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" type="text/javascript"></script>
		<script src="main.js" type="text/javascript"></script>
	</body>
</html>